.idea
*.DS_Store
# protection du fichier de configuration de production
config-prod.php
# protection du fichier de configuration de tests
config-test.php
# protection des données dans data * tout le dossier
/data/*
# sauf le fichier ci-dessous
!/data/mvc2025createread.sql
!/data/mvc2025createread-with-datas.sql
